li {
  list-style-type: none;
}

#new-list-form {
  display: none;
}

#formDisplay {
  width: 70%;
}

#displayForm {
  display: none;
  float: right;
  height: 70%;
  width: 24rem;
  margin-right: 5.5rem;
  border-radius: 10%;
  background: #438eff;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(67, 142, 255, 0.87577)), color-stop(56%, rgba(66, 211, 255, 0.892577)));
  background: linear-gradient(90deg, rgba(67, 142, 255, 0.87577) 25%, rgba(66, 211, 255, 0.892577) 56%);
}

#displayForm ul {
  padding: 0px;
}

.item-list {
  height: 100%;
  width: 40%;
  background-color: 0;
}

.individual-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.individual-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  width: 4px;
  height: 4px;
  padding: 8px;
  margin-right: 0.5em;
}

.todo-item-checked {
  color: greenyellow;
  background: 0;
}

.todo-item-unchecked:hover {
  background: black;
}

.item-remove {
  padding: 8px;
  font-size: 1rem;
}

.item-remove:hover {
  cursor: pointer;
  font-size: 1.3rem;
}

.todo-form input {
  padding: 8px;
  border: 1px solid black;
}

.compose-btn {
  margin-left: 20px;
  margin-top: 25px;
  font-size: 25px;
  background: #76e1f7;
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #76e1f7), color-stop(66%, #01f797));
  background: linear-gradient(90deg, #76e1f7 23%, #01f797 66%);
  border-radius: 15%;
}

.add-task {
  font-size: 1.5rem;
  background: white;
  border-radius: 70%;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.4rem;
}

.add-task:hover {
  background: #c5fbff;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.7rem;
}

.list-title input {
  width: 85%;
  height: 2rem;
  margin-left: 1.5rem;
  background: transparent;
  border-style: none;
  font-size: 2rem;
}

.list-title input:focus {
  border-bottom: 3px solid rgba(18, 255, 196, 0.685);
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.google-login-btn {
  margin-left: 200px;
  margin-top: 200px;
  width: 190px;
  color: lightblue;
  -webkit-text-decoration: lightblue;
          text-decoration: lightblue;
  font-size: 5rem;
}

.logout-btn {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.user-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unordered-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1.3rem;
}

.ind-list {
  font-size: 1.4rem;
  border-radius: 3%;
  background: #ffbf49;
  background: -webkit-gradient(linear, left top, right top, color-stop(32%, #ffbf49), color-stop(79%, #fe8181));
  background: linear-gradient(90deg, #ffbf49 32%, #fe8181 79%);
}

.ind-list:hover {
  background-color: #a8dff8;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.finalise-list-btn {
  margin-left: 30%;
}
/*# sourceMappingURL=style.css.map */