li {
    list-style-type: none;
}

#new-list-form{
    display: none
}

#formDisplay{
    width: 70%;
}

#displayForm {
    display: none;
    margin-left: 70rem;
    margin-top: 10rem;
    height: 70%;
    width: 25rem;
}

.item-list{
    height: 100%;
    width: 40%;
    background-color: red($color: #000000);
}

.individual-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
}

.individual-item span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    width: 4px;
    height: 4px;
    padding: 8px;
    margin-right: 0.5em;
}

.todo-item-checked {
    color: greenyellow;
    background: green($color: #000000);
}

.todo-item-unchecked:hover{
    background: black;
}

.item-remove {
    padding: 8px;
}

.todo-form input {
    padding: 8px;
    border: 1px solid black;
}

.compose-btn {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 25px;
    background: rgb(118,225,247);
    background: linear-gradient(90deg, rgba(118,225,247,1) 23%, rgba(1,247,151,1) 66%);
    border-radius: 15%;
}

.add-task {
    font-size: 20px;
    background: rgb(32, 191, 245);
    border-radius: 70%;
    width: 35px;
}

.list-title input{
    width: 100%;
    font-style: bold;
    height: 2rem;
    background-color: lightblue;
}

.input-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.google-login-btn {
    margin-left: 200px;
    margin-top: 200px;
    width: 190px;
    color: lightblue;
    text-decoration: lightblue;
    font-size: 5rem;
}

.logout-btn {
    float: right;
    margin-top: 15px;
}