li {
    list-style-type: none;
}

#new-list-form{
    display: none
}

#formDisplay{
    width: 70%;
}

.item-list{
    height: 100%;
    width: 40%;
    background-color: red($color: #000000);
}

.individual-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
}

.individual-item span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    width: 4px;
    height: 4px;
    padding: 8px;
    margin-right: 0.5em;
}

.todo-item-checked {
    color: greenyellow;
    background: green($color: #000000);
}

.todo-item-unchecked:hover{
    background: black;
}

.item-remove {
    padding: 8px;
}

.todo-form input {
    padding: 8px;
    border: 1px solid black;
}



#displayForm {
    display: none;
    margin-left: 70rem;
    margin-top: 10rem;
    height: 70%;
}